<!doctype html>
<html lang="de">
<head>
    <title>SPHERE-Platform{{ SeoTitle }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="SPHERE-Platform"/>
    <link hreflang="de">
    {{ ManagerStyle }}
    <script type="text/javascript">
        var executeScript = function (Callback)
        {
            // Save On-Load
            var Event = window.onload;
            // Init On-Load
            if (typeof window.onload != 'function') {
                window.onload = function ()
                {
                    executeScript = function (Callback)
                    {
                        Callback();
                    };
                };
                Event = window.onload;
            }
            // Append On-Load
            window.onload = function ()
            {
                if (Event) {
                    Event();
                }
                Callback();
            };
        }
    </script>
</head>
<body>

{# ------------------------------------------------------------------------------------------------------- NAVIGATION #}

<div data-toggle="collapse" data-target="#nav-toggle" class="hidden-xs">

    <div class="container-fluid">
        <div class="row">
            <div class="hidden-sm hidden-md col-lg-1"></div>
            <div class="col-sm-12 col-md-12 col-lg-10">
                <div class="navbar-claim">

                    <nav class="navbar navbar-default navbar-service small">
                        <ul class="nav navbar-nav navbar-right">
                            {{ NavigationService }}
                        </ul>
                    </nav>
                    <nav class="navbar navbar-inverse navbar-cluster">
                        <ul class="nav navbar-nav navbar-right">

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicons glyphicons-star" aria-hidden="true"></span>&nbsp;Favoriten
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><span class="glyphicons glyphicons-link" aria-hidden="true"></span>&nbsp;Mandantenverwaltung</a></li>
                                    <li><a href="#"><span class="glyphicons glyphicons-link" aria-hidden="true"></span>&nbsp;Cache</a></li>
                                    <li><a href="#"><span class="glyphicons glyphicons-link" aria-hidden="true"></span>&nbsp;Protokoll</a></li>
                                </ul>
                            </li>
                            {{ NavigationCluster }}
                        </ul>
                    </nav>

                </div>
            </div>
            <div class="hidden-sm hidden-md col-lg-1"></div>
        </div>
    </div>

    {% if( NavigationApplication is not empty or NavigationModule is not empty ) %}
        <div class="container-fluid collapse in" id="nav-toggle">
            <div class="row">
                <div class="hidden-sm hidden-md col-lg-1"></div>
                <div class="col-sm-12 col-md-12 col-lg-10">

                    {% if( NavigationApplication is not empty ) %}
                        <nav class="navbar navbar-inverse navbar-application">
                            <ul class="nav navbar-nav navbar-left">
                                {{ NavigationApplication }}
                            </ul>
                        </nav>
                    {% endif %}

                    {% if( NavigationModule is not empty ) %}
                        <nav class="navbar navbar-inverse navbar-module">
                            <hr class="muted"/>
                            <ul class="nav navbar-nav navbar-left">
                                {{ NavigationModule }}
                            </ul>
                        </nav>
                    {% endif %}

                </div>
                <div class="hidden-sm hidden-md col-lg-1"></div>
            </div>
        </div>
    {% endif %}

    {% if(BreadcrumbList is not empty) %}
        <div class="container-fluid">
            <div class="row">
                <div class="hidden-sm hidden-md col-lg-1"></div>
                <div class="col-sm-12 col-md-12 col-lg-10">
                    <ol class="breadcrumb">
                        {% set Link = '' %}
                        {% for Index, Crumb in BreadcrumbList %}
                            {% set Link = Link ~ '/' ~ Crumb %}
                            {% set Crumb = Crumb|replace({'-und-': " & "}) %}

                            {% if(Index == 1) %}
                                {% set Crumb = BreadcrumbCluster %}
                            {% endif %}
                            {% if(Index == 2) %}
                                {% set Crumb = BreadcrumbApplication %}
                            {% endif %}
                            {% if(Index == 3) %}
                                {% set Crumb = BreadcrumbModule %}
                            {% endif %}

                            {% if(Index == BreadcrumbList|length) %}
                                <li class="active">
                                    <small>{{ Crumb }}</small>
                                </li>
                            {% else %}
                                <li><a href="{{ Link }}">
                                        <small>{{ Crumb }}</small>
                                    </a></li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </div>
                <div class="hidden-sm hidden-md col-lg-1"></div>
            </div>
        </div>
    {% endif %}

</div>

{# ---------------------------------------------------------------------------------------------------------- CONTENT #}

<div class="container-fluid">
    <div class="row">
        <div class="hidden-xs hidden-sm hidden-md col-lg-1"></div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
            {{ Content }}
        </div>
        <div class="hidden-xs hidden-sm hidden-md col-lg-1"></div>
    </div>
</div>

{# ----------------------------------------------------------------------------------------------------------- FOOTER #}

<div class="container-fluid">
    <div class="row">
        <div class="hidden-xs hidden-sm hidden-md col-lg-1"></div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
            <nav class="navbar navbar-default navbar-footer small">
                <div class="container-fluid">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <ul class="nav navbar-nav navbar-right">
                        {% for Item in NavigationFooter %}
                            <li>{{ Item }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        </div>
        <div class="hidden-xs hidden-sm hidden-md col-lg-1"></div>
    </div>
</div>

{# ---------------------------------------------------------------------------------------------------------- DEBUGER #}

{% if( DebuggerProtocol is not empty) %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 small" style="color: #000;">
                <br/>
                <hr class="muted"/>
                <br/>
                {{ DebuggerProtocol }}
            </div>
        </div>
    </div>
{% endif %}

{# ----------------------------------------------------------------------------------------------------------- SCRIPT #}

<script src="{{ PathBase }}/Common/Script/Loader.js"></script>
{{ ManagerScript }}
<script>
    //    var _paq = _paq || [];
    //    _paq.push(["setDoNotTrack", true]);
    //    _paq.push(["disableCookies"]);
    //    _paq.push(['trackPageView']);
    //    _paq.push(['enableLinkTracking']);

    executeScript(function ()
    {
        Client.Use('ModAlways', function ()
        {
            jQuery().ModAlways();

            jQuery('[data-toggle="collapse"]').on('mouseover', function ()
            {
                jQuery(jQuery(this).attr('data-target')).collapse('show');
            })
            jQuery('[data-toggle="collapse"]').on('mouseleave', function ()
            {
                jQuery(jQuery(this).attr('data-target')).collapse('hide');
            })
        });

//        (function()
//        {
//            var u = "/Library/Piwik/";
//            _paq.push(['setTrackerUrl', u + 'piwik.php']);
//            _paq.push(['setSiteId', 1]);
//            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
//            g.type = 'text/javascript';
//            g.async = true;
//            g.defer = true;
//            g.src = u + 'piwik.js';
//            s.parentNode.insertBefore(g, s);
//        })();
    });
</script>

</body>
</html>


