<!doctype html>
<html lang="de">
<head>
    <title>SPHERE-Platform{{ SeoTitle }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="SPHERE-Platform"/>
    <link hreflang="de">
    <link rel="apple-touch-icon" sizes="180x180" href="/Common/Style/Favicon/apple-touch-icon.png?v=yyxbR6Yxmb">
    <link rel="icon" type="image/png" href="/Common/Style/Favicon/favicon-32x32.png?v=yyxbR6Yxmb" sizes="32x32">
    <link rel="icon" type="image/png" href="/Common/Style/Favicon/favicon-16x16.png?v=yyxbR6Yxmb" sizes="16x16">
    <link rel="manifest" href="/Common/Style/Favicon/manifest.json?v=yyxbR6Yxmb">
    <link rel="mask-icon" href="/Common/Style/Favicon/safari-pinned-tab.svg?v=yyxbR6Yxmb" color="#000000">
    <link rel="shortcut icon" href="/Common/Style/Favicon/favicon.ico?v=yyxbR6Yxmb">
    <meta name="msapplication-config" content="/Common/Style/Favicon/browserconfig.xml?v=yyxbR6Yxmb">
    <meta name="theme-color" content="#ffffff">
    {{ ManagerStyle }}
    <script type="text/javascript">
        var executeScript = function (Callback)
        {
            // Save On-Load
            var Event = window.onload;
            // Init On-Load
            if (typeof window.onload != 'function') {
                window.onload = function ()
                {
                    executeScript = function (Callback)
                    {
                        Callback();
                    };
                };
                Event = window.onload;
            }
            // Append On-Load
            window.onload = function ()
            {
                if (Event) {
                    Event();
                }
                Callback();
            };
        }
    </script>
</head>
<body>

{# ------------------------------------------------------------------------------------------------------- NAVIGATION #}

<div class="visible-xs">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav navbar-horizontal">
                            <li>
                                <a href="/">
                                    <span class="glyphicons glyphicons-home" aria-hidden="true"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#Application" data-toggle="collapse">
                                    <span class="glyphicons glyphicons-show-big-thumbnails"></span> Anwendungen
                                </a>
                            </li>
                            <li>
                                <a href="#Favorites" data-toggle="collapse">
                                    <span class="glyphicons glyphicons-star"></span> Favoriten
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div id="Application" class="collapse">
                <nav class="navbar navbar-inverse navbar-mobile">
                    <div class="container-fluid">
                        <hr class="muted"/>
                        <ul class="nav navbar-nav navbar-horizontal">
                            {{ NavigationCluster }}
                        </ul>
                    </div>
                </nav>
                {% if( NavigationApplication is not empty ) %}
                    <nav class="navbar navbar-default navbar-application navbar-mobile">
                        <hr class="muted"/>
                        <ul class="nav navbar-nav navbar-horizontal">
                            {{ NavigationApplication }}
                        </ul>
                    </nav>
                {% endif %}
                {% if( NavigationModule is not empty ) %}
                    <nav class="navbar navbar-inverse navbar-module navbar-mobile">
                        <hr class="muted"/>
                        <ul class="nav navbar-nav navbar-horizontal">
                            {{ NavigationModule }}
                        </ul>
                    </nav>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hidden-xs" data-toggle="collapse" data-target="#nav-toggle">

    <div class="container-fluid">
        <div class="row">
            <div class="hidden-sm hidden-md col-lg-1"></div>
            <div class="col-sm-12 col-md-12 col-lg-10">
                <div class="navbar-claim">

                    <nav class="navbar navbar-default navbar-service small">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/">
                                    <span class="glyphicons glyphicons-home" aria-hidden="true"></span>&nbsp;Startseite
                                </a>
                            </li>
                            {{ NavigationService }}
                            <li>
                                <a href="#" data-html="true" data-trigger="hover" data-toggle="popover"
                                   data-content="<div>4x&nbsp;Q440......................................................................................................................</div><div>2x&nbsp;Artikel</div>"
                                   title="Warenkorb">
                                    <span class="glyphicons glyphicons-shopping-cart" aria-hidden="true"></span>&nbsp;6
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <nav class="navbar navbar-inverse navbar-cluster">
                        <ul class="nav navbar-nav navbar-right">
                            {{ NavigationCluster }}
                            {{ NavigationFavorite }}
                        </ul>
                    </nav>

                </div>
            </div>
            <div class="hidden-sm hidden-md col-lg-1"></div>
        </div>
    </div>

    {% if( NavigationApplication is not empty or NavigationModule is not empty ) %}
        <div class="container-fluid collapse in" id="nav-toggle">
            <div class="row">
                <div class="hidden-sm hidden-md col-lg-1"></div>
                <div class="col-sm-12 col-md-12 col-lg-10">

                    {% if( NavigationApplication is not empty ) %}
                        <nav class="navbar navbar-inverse navbar-application">
                            <ul class="nav navbar-nav navbar-left">
                                {{ NavigationApplication }}
                            </ul>
                        </nav>
                    {% endif %}

                    {% if( NavigationModule is not empty ) %}
                        <nav class="navbar navbar-inverse navbar-module">
                            <hr class="muted"/>
                            <ul class="nav navbar-nav navbar-left">
                                {{ NavigationModule }}
                            </ul>
                        </nav>
                    {% endif %}

                </div>
                <div class="hidden-sm hidden-md col-lg-1"></div>
            </div>
        </div>
    {% endif %}

</div>

{% if(BreadcrumbList is not empty) %}
    <div class="container-fluid hidden-xs">
        <div class="row">
            <div class="hidden-sm hidden-md col-lg-1"></div>
            <div class="col-sm-12 col-md-12 col-lg-10">
                <ol class="breadcrumb">
                    {% set Link = '' %}
                    {% for Index, Crumb in BreadcrumbList %}
                        {% set Link = Link ~ '/' ~ Crumb %}
                        {% set Crumb = Crumb|replace({'-und-': " & "}) %}

                        {% if(Index == 1) %}
                            {% set Crumb = BreadcrumbCluster %}
                        {% endif %}
                        {% if(Index == 2) %}
                            {% set Crumb = BreadcrumbApplication %}
                        {% endif %}
                        {% if(Index == 3) %}
                            {% set Crumb = BreadcrumbModule %}
                        {% endif %}

                        {% if(Index == BreadcrumbList|length) %}
                            <li class="active">
                                <small>{{ Crumb }}</small>
                            </li>
                        {% else %}
                            <li><a href="{{ Link }}">
                                    <small>{{ Crumb }}</small>
                                </a></li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </div>
            <div class="hidden-sm hidden-md col-lg-1"></div>
        </div>
    </div>
{% endif %}

{# ---------------------------------------------------------------------------------------------------------- CONTENT #}

<div class="container-fluid">
    <div class="row">
        <div class="hidden-xs hidden-sm hidden-md col-lg-1"></div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
            {{ Content }}
        </div>
        <div class="hidden-xs hidden-sm hidden-md col-lg-1"></div>
    </div>
</div>

{# ----------------------------------------------------------------------------------------------------------- FOOTER #}

<div class="container-fluid">
    <div class="row">
        <div class="hidden-xs hidden-sm hidden-md col-lg-1"></div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
            <nav class="navbar navbar-default navbar-footer small">
                <div class="container-fluid">
                    <ul class="nav navbar-nav navbar-left navbar-horizontal">
                        <li>
                            <a><span class="glyphicons glyphicons-clock"></span> {{ DebuggerRuntime }}</a>
                        </li>
                        <li>
                            <a><span class="glyphicons glyphicons-cluster"></span> {{ CacheSlot }}</a>
                        </li>
                        {#<li>#}
                        {#<a><span class="glyphicons glyphicons-database"></span>{{ Consumer }}</a>#}
                        {#</li>#}
                        <li>
                            <a><span class="glyphicons glyphicons-globe"></span> {{ DebuggerHost }}</a>
                        </li>
                        <li>
                            <a><span class="glyphicons glyphicons-transfer"></span> {{ CpuLoad }}</a>
                        </li>
                        <li>
                            <a><span class="glyphicons glyphicons-notes-2"></span> {{ MemoryPeak }}</a>
                        </li>
                        <li>
                            <a href="http://www.beyondsecurity.com/vulnerability-scanner-verification/www.[...]"
                               rel="external">
                                <span class="glyphicons glyphicons-shield"></span> Secure
                            </a>
                        </li>
                        <li>
                            <a><span class="glyphicons glyphicons-group"></span> {{ DebuggerSessionCount }}</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right navbar-horizontal">
                        {% for Item in NavigationFooter %}
                            <li>{{ Item }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        </div>
        <div class="hidden-xs hidden-sm hidden-md col-lg-1"></div>
    </div>
</div>

{# ---------------------------------------------------------------------------------------------------------- DEBUGER #}

{% if( DebuggerProtocol is not empty) %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 small text-center text-muted">
                <div class="text-left" style="font-size: 1.1em; margin-top: 10px; color: #000;">
                    {{ DebuggerProtocol }}
                </div>
                <br/>
            </div>
        </div>
    </div>
{% endif %}

<br/>

{# ----------------------------------------------------------------------------------------------------------- SCRIPT #}

<script src="{{ PathBase }}/Common/Script/Loader.js"></script>
{{ ManagerScript }}
<script>
    //    var _paq = _paq || [];
    //    _paq.push(["setDoNotTrack", true]);
    //    _paq.push(["disableCookies"]);
    //    _paq.push(['trackPageView']);
    //    _paq.push(['enableLinkTracking']);

    executeScript(function ()
    {
        Client.Use('ModAlways', function ()
        {
            jQuery('div.FadeIn').css('visibility', 'visible').hide().fadeIn('fast');
            jQuery().ModAlways();

            var DataToggleCollapse = jQuery('[data-toggle="collapse"]');
            DataToggleCollapse.on('mouseover', function ()
            {
                jQuery(jQuery(this).attr('data-target')).collapse('show');
            });
            DataToggleCollapse.on('mouseleave', function ()
            {
                jQuery(jQuery(this).attr('data-target')).collapse('hide');
            })
        });

//        (function()
//        {
//            var u = "/Library/Piwik/";
//            _paq.push(['setTrackerUrl', u + 'piwik.php']);
//            _paq.push(['setSiteId', 1]);
//            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
//            g.type = 'text/javascript';
//            g.async = true;
//            g.defer = true;
//            g.src = u + 'piwik.js';
//            s.parentNode.insertBefore(g, s);
//        })();
    });
</script>

</body>
</html>


