<div class="window-stage">
{% if( StageTitle is not empty or StageDescription is not empty ) %}
    <div class="stage-header">
            <h3>{{ StageTitle }}</h3>
            <small>{{ StageDescription }}</small>
            <br/>
            {% if StageMessage is not empty %}
                {{ StageMessage }}
                <br/>
            {% endif %}
    </div>

    {% if StageMenu is not empty %}
        <div class="stage-header">
            {#<div class="btn-group">#}
            {% for Button in StageMenu %}
                {{ Button }}
            {% endfor %}
            {#</div>#}
        </div>
        <br/>
    {% endif %}

{% endif %}

{#{% if StageMessage is not empty %}#}
    {#<div class="row">#}
        {#<div class="col-xs-12">#}
            {#{{ StageMessage }}#}
        {#</div>#}
    {#</div>#}
    {#<br/>#}
{#{% endif %}#}

{#{% if StageMenu is not empty %}#}
    {#<div class="row">#}
        {#<div class="col-xs-12">#}
            {#<div class="btn-group">#}
            {#{% for Button in StageMenu %}#}
                {#{{ Button }}#}
            {#{% endfor %}#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    {#<br/>#}
{#{% endif %}#}

    <div class="stage-body">
        {{ StageContent }}
    </div>
</div>
