<div class="window-stage">
    {% if( StageTitle is not empty or StageDescription is not empty or StageMessage is not empty ) %}

        <div class="stage-header">

            <div class="clearfix">
                <div class="pull-left">
                    {% if StageTitle is not empty %}
                        <h3>{{ StageTitle }}</h3>
                    {% endif %}
                    {% if StageDescription is not empty %}
                    <small>{{ StageDescription }}</small>
                    {% endif %}
                </div>
                {% if StageMenu is not empty %}
                    <div class="pull-right" style="margin-top: 22px;">
                        {#<div class="btn-group">#}
                        {% for Button in StageMenu %}
                            {{ Button }}
                        {% endfor %}
                        {#</div>#}
                        <br/>
                    </div>
                {% endif %}
            </div>

            {% if StageMessage is not empty %}
                <div class="stage-message">
                    {{ StageMessage }}
                    <br/>
                </div>
            {% endif %}

        </div>

    {% endif %}

    {% if StageTeaser is not empty %}
        <div class="stage-teaser hidden-xs">
            {{ StageTeaser }}
        </div>
    {% endif %}

    <div class="stage-body">{{ StageContent }}</div>
</div>
