<div class="window-stage">
    {% if( StageTitle is not empty or StageDescription is not empty or StageMessage is not empty ) %}

        <div class="stage-header">
            {% if StageTitle is not empty %}
                <h3>{{ StageTitle }}</h3>
            {% endif %}
            <small>{{ StageDescription }}</small>
            <br/>
            {% if StageMessage is not empty %}
                {{ StageMessage }}
                <br/>
            {% endif %}
        </div>

    {% endif %}

    {% if StageTeaser is not empty %}
        <div class="stage-teaser">
            {{ StageTeaser }}
        </div>
    {% endif %}

    {% if StageMenu is not empty %}
        <div class="stage-header">
            {#<div class="btn-group">#}
            {% for Button in StageMenu %}
                {{ Button }}
            {% endfor %}
            {#</div>#}
        </div>
        <br/>
    {% endif %}


    <div class="stage-body">{{ StageContent }}</div>
</div>
